.conteinerForm {
    max-width: 700px;
    margin: 72px auto;
}

.titleForm {
    font-size: 32px;
    margin-bottom: 16px;
}

.contentForm > *:not(:last-child) {
    margin-bottom: 24px;
}

.labelName, .labelEmail, .labelMessage {
    display: block; /* Equivalente a block */
    margin-bottom: 4px; /* Equivalente a mb-1 */
}

.inputName, .inputEmail, .areaMessage {
    width: 100%; /* Equivalente a w-full */
    padding: 8px; /* Equivalente a p-2 */
    background-color: #2d3748; /* Equivalente a bg-gray-800 */
    border-radius: 4px; /* Equivalente a rounded */
}

.errorName, .errorEmail, .errorMessage {
    color: #f56565; /* Equivalente a text-red-500 */
    font-size: 14px; /* Equivalente a text-sm */
}

.buttonForm {
    width: 100%; /* Equivalente a w-full */
    background-color: #3182ce; /* Equivalente a bg-blue-600 */
    color: white; /* Equivalente a text-white */
    font-weight: bold; /* Equivalente a font-bold */
    padding-top: 8px; /* Equivalente a py-2 */
    padding-bottom: 8px; /* Equivalente a py-2 */
    padding-left: 16px; /* Equivalente a px-4 */
    padding-right: 16px; /* Equivalente a px-4 */
    border-radius: 4px; /* Equivalente a rounded */
}

.buttonForm:hover {
    background-color: #2b6cb0; /* Equivalente a hover:bg-blue-700 */
}