.titleConteiner {
    width: 100vw;
    height: 102px;
    display: flex;
    align-items: center;
}

.titleHeader {
    font-size: 56px;
    font-weight: bold;
    margin: 0 24px;
}

.titleA {
    color: #60a5fa;
}

.titleB {
    color: #fb923c;
}

.titleC {
    color: #60a5fa;
}


.animationHero {
    background: linear-gradient(88deg, #1d81fc, #fa8424);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;     
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}
@keyframes AnimationName {
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}