.conteinerMain {
    max-width: 1000px;
    width: 80vw;
    margin: 0 auto;
}

.hero {
    text-align: center;
}

.heroA {
    margin-bottom: 36px;
    font-size: 42px;
}

.heroB {
    margin-bottom: 36px;
    font-size: 24px;  
}