/* Estilos Experience */

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .list-experience {
    background-color: transparent;
    page-break-inside: avoid;
  }

  .detailCompany h3 {

  }

  .company a {
    background: #eee;
    border-radius: 6px;
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    }

  article a {
    color: #111;
  }
  
  article a:hover {
    text-decoration: underline;
  }
  
  article h4 {
    color: #222;
    font-weight: 400;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  
  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 100px;
    text-align: end;
  }

  .descriptionExperience p {
    letter-spacing: 0;
  }
  
  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }