
section {
    max-width: 680px;
    margin: 24px auto 24px;
    page-break-inside: avoid;
  }

  section h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.1rem;
  }

  .nameTitle {
    font-size: 1.3rem;
    color: #111;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
