

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (min-width: 601px) {
    #normalFooter {
      display: block;
    }

    #footerButton {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #normalFooter {
      display: none;
    }

    #footerButton {
      background: #fff;
      position: fixed;
      border: 1px solid rgba(0, 0, 0, 0.15);
      right: 10px;
      bottom: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    #footerButton:active {
      transform: scale(0.95);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    }
  }

  #normalFooter {
    background: #fdfdfd;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-block: 8px;
    text-align: center;
    font-size: 0.85rem;
    left: 0;

    view-timeline-name: --revealing;
    view-timeline-axis: block;

    animation: linear 0.3s fadeIn;
    animation-timeline: --revealing;
    animation-range: entry 100% cover 10%;
  }

  kbd {
    background: #eee;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
  }

  .no-print {
    display: block;
  }

  @media print {
    #normalFooter {
    
      display: none;
    }
    nav {
      display: none;
    }
    ninja-keys {
      display: none;
    }
  }
